{% extends 'auth/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div id="content">
    <div class="d-flex align-items-center justify-content-center container-sec">
        <div class="wrapper container-fluid border rounded px-5" style="background-color: #f5f5f5;">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <span class="title pb-3">
                <img src="../assets/calid_logo_small.png" alt="ExpenseIt Logo">
            </span>
            <span class="title pb-3">
                Reset Password
            </span>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}
