<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%} - ExpenseIt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container-fluid pt-2" id="header-gradient">
        <canvas class="rounded-2" id="gradient-canvas"></canvas>
    </div>
    {% block content %}
    {% endblock %}
    <script type="module">
        import { Gradient } from './js/Gradient.js'
        const gradient = new Gradient()
        gradient.initGradient('#gradient-canvas')
    </script>
    <script>
        var button = document.querySelector("#show-pass");
        var textarea = document.querySelector("#pass");

        button.addEventListener("click", function () {
            const type = textarea.getAttribute("type") === "password" ? "text" : "password";
            textarea.setAttribute("type", type);
            this.classList.toggle("fa-eye");
            this.classList.toggle("fa-eye-slash");
        })
    </script>
    <script>
        $('.input').each(function () {
            $(this).on('blur', function () {
                if ($(this).val().trim() != "") {
                    $(this).addClass('has-val');
                } else {
                    $(this).removeClass('has-val');
                }
            })
        })
    </script>
    {% block js %}
    {% endblock %}
</body>
