{% extends 'auth/base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div id="content">
        <div class="d-flex align-items-center justify-content-center container-sec"">
        <div class="wrapper container-fluid">
            <form class="login-form validate-form">
        <span class="title pb-3">
          <!--<i class="zmdi zmdi-font"></i>-->
          <img src="images/logo/expenseit.svg" alt="Calid Logo">
        </span>
                <span class="title mb-5">
          Reset Password
        </span>
                <!--        <p class="pb-1" style="text-align: center !important;">-->
                <!--          Please enter your email address.-->
                <!--          <br>You will receive a link to create a new password via email.-->
                <!--        </p>-->

                <div class="wrapper-input validate-input mt-4" data-validate="Example: john@doe.com">
                    <input class="input pass-font" type="text" name="email">
                    <span class="focus-input" data-placeholder="Email"></span>
                </div>

                <div class="container-btn">
                    <div class="wrap-btn">
                        <div class="bg-btn"></div>
                        <button class="form-btn">
                            Reset Password
                        </button>
                    </div>
                </div>

                <footer class="text-center mt-2">
                    <small class="text-small text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Zach Matcham</small>
                </footer>
            </form>

        </div>
    </div>
{% endblock %}